.p-branch-menu {
	margin: 20px;
	> ul {
		margin-bottom: 50px;
		> li {
			height: 640px;
			margin-bottom: 20px;
			padding: 10px;
			background-size: cover;
			&.takeout {
				background-image: url( images/front-page/bg_takeout@2x.jpg );
				background-repeat: no-repeat;
			}
			&.eatin {
				background-image: url( images/front-page/bg_eatin@2x.jpg );
				background-repeat: no-repeat;
			}
			a {
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				h3 {
					font-size: 4.0rem;
					color: #fff;
					font-family: 'Roboto', sans-serif;
					font-weight: bold;
					&::after {
						content: "";
						width: 33px;
						margin-top: 20px;
						border-bottom: 4px solid #fff;
						display: block;
					}
				}
				.description {
					li {
						margin-bottom: 10px;
						padding: 10px;
						background: rgba( 255, 255, 255, .8 );
						&:last-child {
							margin-bottom: 0;
						}
						dl {
							color: #3C2A10;
							dt {
								margin-bottom: 20px;
								font-size: 2.2rem;
								font-weight: bold;
							}
							dd {

							}
						}
					}
				}
			}
		}
	}
}
