.p-contents {
	@include breakpoint( tablet ) {
	}
	@include breakpoint( pc ) {
	}
	@include breakpoint( wide ) {
	}
}
.archive {
	.p-contents {
		padding: 20px;
		@include breakpoint( tablet ) {
			padding: 40px;
		}
		@include breakpoint( pc ) {
			padding: 100px;
		}
	}
}
