.p-mainvisual {
    width: 100%;
    min-height: 285px;
    background: url( images/front-page/mainvisual-sp@2x.jpg ) no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    @include breakpoint( tablet ) {
        background: url( images/front-page/mainvisual-pc@2x.jpg ) no-repeat;
        background-size: cover;
    }
    h2 {
        margin-left: 25px;
        font-size: 3.6rem;
        color: #fff;
        font-family: 'M PLUS 1p', sans-serif;
        font-weight: bold;
        @include breakpoint( tablet ) {
            margin-left: 86px;
        }
        @include breakpoint( pc ) {
            font-size: 4.0rem;
        }
    }
}