.c-cards {
	.c-card {
		width        : 100%;
		margin-bottom: 20px;
		display: flex;
		flex-direction: column;
		@include breakpoint( tablet ) {
			flex-direction: row;
		}
		@include breakpoint( pc ) {
			margin-bottom: 30px;
		}
		&:last-child {
			margin-bottom: 0;
		}
		.thumnail {
			width     : 100%;
			height    : auto;
			@include breakpoint( tablet ) {
				width: 50%;
			}
		}
		.wp-post-image {
			width     : 100%;
			height    : auto;
			min-width : 100%;
			min-height: 100%;
			max-width : inherit;
			object-fit: cover;
			font-family: 'object-fit: cover;';
			@include breakpoint( tablet ) {
				width: 50%;
			}
		}
		.no-thumbnail {
			width     : auto;
			height    : auto;
			min-width : 100%;
			min-height: 100%;
			max-width : inherit;
			position  : absolute;
			left      : 50%;
			top       : 50%;
			transform : translate( -50%, -50% );
			display   : block;
			background: #333;
			z-index   : -1;
		}
		> .block {
			width         : 100%;
			padding: 20px;
			background: #3C2B1C;
			color: #fff;
			font-size: 1.6rem;
			box-sizing: border-box;
			@include breakpoint( tablet ) {
				width: 50%;
			}
			> .title {
				margin: 20px 0 24px;
				font-size: 2.0rem;
				font-weight: bold;
				@include breakpoint( tablet ) {
				}
				@include breakpoint( pc ) {
				}
			}
			> .detail-bt {
				width: 48.51%;
				margin: 50px auto 20px;
				padding: 10px;
				border-radius: 25px;
				background: #fff;
				color: #707070;
				font-size: 1.6rem;
				font-weight: bold;
				text-align: center;
				display: block;
				box-sizing: border-box;
				@include breakpoint( tablet ) {
				}
				@include breakpoint( pc ) {
					min-width: 146px;
				}
			}
		}
	}
}
