.c-cards {
	.c-card {
		width        : 100%;
		// min-height   : 380px;
		height       : 100%;
		margin-bottom: 20px;
		// position     : relative;
		// overflow     : hidden;
		// text-align   : left;
		display: flex;
		flex-direction: row;
		@include breakpoint( tablet ) {
			flex-direction: column;
		}
		@include breakpoint( pc ) {
			margin-bottom: 30px;
		}
		&:last-child {
			margin-bottom: 0;
		}
		.thumnail {
			width     : 100%;
			height    : auto;
			@include breakpoint( tablet ) {
				width: 50%;
			}
		}
		.wp-post-image {
			width     : 100%;
			height    : auto;
			min-width : 100%;
			min-height: 100%;
			max-width : inherit;
			// position  : absolute;
			// left      : 50%;
			// top       : 50%;
			// transform : translate( -50%, -50% );
			// z-index   : -1;
			object-fit: cover;
			font-family: 'object-fit: cover;';
			@include breakpoint( tablet ) {
				width: 50%;
			}
		}
		.no-thumbnail {
			width     : auto;
			height    : auto;
			min-width : 100%;
			min-height: 100%;
			max-width : inherit;
			position  : absolute;
			left      : 50%;
			top       : 50%;
			transform : translate( -50%, -50% );
			display   : block;
			background: #333;
			z-index   : -1;
		}
		> .block {
			width         : 100%;
			height        : 100%;
			min-height    : 380px;
			// position      : relative;
			background: #3C2B1C;
			color: #fff;
			@include breakpoint( tablet ) {
				width: 50%;
				display       : flex;
				flex-direction: column-reverse;
				flex-direction: row-reverse;
				// position      : static;
			}
		}
		.inner {
			width     : 100%;
			padding   : 25px;
			background: rgba( 21, 33, 51, .7 );
			position  : absolute;
			bottom    : 0;
			@include breakpoint( tablet ) {
				width     : 45%;
				min-height: 380px;
				height    : 100%;
				padding   : 40px;
				position  : static;
			}
			@include breakpoint( pc ) {
				width  : 39.21%;
			}
			.category {
				width          : 100%;
				margin         : -25px -25px auto auto;
				float          : right;
				font-size      : 1.0rem;
				display        : flex;
				flex-wrap      : wrap;
				justify-content: flex-end;
				@include breakpoint( tablet ) {
					width    : calc( 100% + 80px );
					margin   : -40px -40px 40px;
					font-size: 1.4rem;
				}
				&::after {
					content: "";
					display: block;
					clear  : both;
				}
				li {
					padding: 7px 15px;
					color  : #fff;
					@include breakpoint( tablet ) {
						padding: 12px 34px;
					}
				}
			}
			time {
				color      : #bbb;
				white-space:  nowrap;
				@include breakpoint( tablet ) {
					font-size: 1.3rem;
				}
			}
			a {
				&:hover {
					text-decoration: underline;
					text-decoration-color: #fff;
					.title {
						opacity: .6;
					}
				}
			}
			.title {
				margin-top : 15px;
				color      : #fff;
				font-weight: bold;
				font-size  : 1.8rem;
				@include breakpoint( tablet ) {
					margin   : 30px 0 23px;
					font-size: 2.6rem;
				}
			}
			.text {
				display: none;
				@include breakpoint( tablet ) {
					color      : #fff;
					font-size  : 1.4rem;
					font-weight: normal;
					line-height: 1.857;
					display    : inline;
				}
			}
			.tags {
				width     : 100%;
				color     : #fff;
				margin-top: 10px;
				display   : flex;
				flex-wrap : wrap;
				li {
					margin: 2.5px 5px 2.5px 0;
				}
			}
		}
	}
}
