.l-footer {
	padding: 40px 0 30px;
	background: url( images/common/bg_footer@2x.jpg );
	text-align: center;
	color: #fff;
	@include breakpoint( tablet ) {
	}
	@include breakpoint( pc ) {
	}
	@include breakpoint( wide ) {
	}
	.menu-footer-container {
		.menu {
			margin-bottom: 34px;
			display: flex;
			justify-content: center;
			font-size: 2.0rem;
			li {
				&::after {
					content: "|";
					margin: 0 17px;
					font-size: 2.0rem;
					color: #fff;
				}
				&:first-child {
				}
				&:last-child {
					&::after {
						content: "";
						margin: 0;
					}
				}
				a {
					&:link, &:visited {
						color: #fff;
					}
					&:hover, &:active {
						opacity: .6;
					}
				}
			}
		}
	}
}
